{% if 'authentication' in failure_message|lower or failure_message == 'Declined' %}
<p style="font-weight: bold">
If you are encountering renewal issues with your previously working credit card,
consider removing the credit card from your payment methods and then adding it again.</br>
More info on this topic is available here: <a href="https://fund.blender.org/strong-customer-authentication/">https://fund.blender.org/strong-customer-authentication/</a>
</p>
{% endif %}
