<div id="footer-decoration" class="row"><div class="col-md-12"></div></div>

<footer class="row"><div class="col-md-2"><h5>Software</h5><div class="textwidget"><ul><li><a href="https://krita.org/en/download/krita-desktop/">Krita Desktop </a></li><li><a href="https://krita.org/en/features/highlights/">Features </a></li><li><a href="https://krita.org/en/features/gallery/">Gallery </a></li><li><a href="https://krita.org/en/get-involved/report-a-bug/">Report a Bug </a></li></ul></div></div><div class="col-md-2"><h5>Education</h5><div class="textwidget"><ul><li><a href="https://docs.krita.org/en/KritaFAQ.html">FAQ </a></li><li><a href="https://docs.krita.org/en/tutorials.html">Tutorials </a></li><li><a href="https://docs.krita.org/en/">Documentation </a></li><li><a href="https://docs.krita.org/en/resources_page.html">Resources </a></li></ul></div></div><div class="col-md-2"><h5>Foundation</h5><div class="textwidget"><ul><li><a href="https://krita.org/en/about/krita-foundation/">About Us </a></li><li><a href="https://krita.org/en/about/contact/">Contact Us </a></li><li><a href="https://krita.org/en/about/press/">Press </a></li><li><a href="https://krita.org/en/support-us/donations/">Donate </a></li><li><a href="https://userbase.kde.org/What_is_KDE">What is KDE</a></li><li><a href="https://krita.org/en/get-involved/overview/">Get Involved </a></li><li><a href="https://krita.org/en/support-us/shop/">Shop</a></li></ul></div></div><div id="socialmedia" class="col-md-6">
<a href="https://krita-free-art-app.deviantart.com/" target="_blank" _paq.push(['trackevent',="" 'marketing',="" 'social',="" 'download-deviantart']);=""><img src="https://krita.org/wp-content/themes/krita-org-theme/images/social-deviantart.png" alt=""></a>
<a href="https://www.facebook.com/pages/Krita-Foundation/511943358879536" target="_blank" _paq.push(['trackevent',="" 'marketing',="" 'social',="" 'download-facebook']);=""><img src="https://krita.org/wp-content/themes/krita-org-theme/images/social-facebook.png" alt=""></a><a href="https://twitter.com/Krita_Painting" target="_blank" _paq.push(['trackevent',="" 'marketing',="" 'social',="" 'download-twitter']);=""><img src="https://krita.org/wp-content/themes/krita-org-theme/images/social-twitter.png" alt=""></a><a href="https://vk.com/ilovefreeart" target="_blank" onclick="_paq.push(['trackEvent', 'Marketing', 'Social', 'download-VK']);"><img src="https://krita.org/wp-content/themes/krita-org-theme/images/social-vk.png" alt=""></a>
<a href="https://www.reddit.com/r/krita/" target="_blank" onclick="_paq.push(['trackEvent', 'Marketing', 'Social', 'download-reddit']);"><img src="https://krita.org/wp-content/themes/krita-org-theme/images/social-reddit.png" alt=""></a>
<a href="https://mastodon.art/@krita" target="_blank" onclick="_paq.push(['trackEvent', 'Marketing', 'Social', 'download-mastodon']);"><img src="https://krita.org/wp-content/themes/krita-org-theme/images/social-mastodon.png" alt=""></a></div>
<svg width="0" height="0">
<defs>
<clipPath id="slim-header-clipPath" clipPathUnits="objectBoundingBox">
<polygon points="0 0, 1 0, 1 1, 0 .4"></polygon>
</clipPath>
</defs>
</svg><svg width="0" height="0">
<defs>
<clipPath id="header-decoration-clip" clipPathUnits="objectBoundingBox">
<polygon points="0 0, 1 0.67, 1 1, 0 .12"></polygon>
</clipPath>
</defs>
</svg><svg width="0" height="0">
<defs>
<clipPath id="clip-footer" clipPathUnits="objectBoundingBox">
<polygon points="0 0, 1 1, 0 1"></polygon>
</clipPath>
</defs>
</svg><svg width="0" height="0">
<defs>
<clipPath id="clip-global-top-banner" clipPathUnits="objectBoundingBox">
<polygon points="0 0, 1 0.6, 1 1, 0 1"></polygon>
</clipPath>
</defs>
</svg>
</footer>
