{% load wagtailcore_tags %}
{% load navigation_tags %}
<div class="navbar homepage" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand mobile-nav-logo" href="/">
      <img src="https://krita.org/wp-content/themes/krita-org-theme/images/krita-logo.png" alt="Krita Logo">
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="hidden-xs">
        <a href="https://krita.org/en" class="brandingPadding">
          <img src="https://krita.org/wp-content/themes/krita-org-theme/images/krita-logo.png" alt="Krita Logo">
        </a>
      </li>
      <li class="menu-item menu-item-type-post_type menu-item-object-page {% if page.slug == 'home' %}active{% endif %}"><a href="{% slugurl 'home' %}">Home</a></li>

      {# main_menu is defined in blender_fund_main/templatetags/navigation_tags.py #}
      {% get_site_root as site_root %}
      {% top_menu parent=site_root calling_page=self %}

      <li class="menu-item menu-item-type-post_type menu-item-object-page">{% if user.is_authenticated %}<a href="{% url 'settings_home' %}">My Account</a>{% else %}<a href="{% url 'oauth:login' %}">Login</a>{% endif %}</li>{% if user.is_staff %}
      <li><a href="{% url 'admin:index' %}">🚀 Whoosh!</a></li>{% endif %}
      {% if user.is_authenticated %}
      <li class="menu-item menu-item-type-post_type menu-item-object-page">{% if 'loginas_from_user' in request.session %}<a href="{% url 'loginas-logout' %}"><i class="fa fa-power-off"></i>  Switch back</a>{% else %}<a href="{% url 'oauth:logout' %}"><i class="fa fa-power-off"></i>  Log out</a>{% endif %}</li>{% endif %}
      <li id="menu-item-3416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3416">
        <a href="https://krita.org/en/shop/">Shop</a>
      </li>
    </ul>
  </div>
</div>
