/* clip-path HAS to be defined inline like this for it to work in Firefox 49 (tested 9/25/2016) 
 * no support for clip-path in IE, so they will have to settle for just a box
 */
#frontpage-slideshow {
   -webkit-clip-path: url("#clip-1"); 
   clip-path: url("#clip-1");
}

/* slide show stuff on homepage */
#frontpage-slideshow {
    height:500px;
    background: url('https://krita.org/wp-content/themes/krita-org-theme/images/slideshow/hero-image-42.png');
    background-size: cover;
    background-position:center; 
}

/* Safari on OSX freaks out if clip-path is set, so explicitly set it to none.  */
#frontpage-slideshow.ie-decoration-fix {
   -webkit-clip-path: none; 
   clip-path: none;
}

.global-top-banner {
    background: url('https://krita.org/wp-content/uploads/2016/08/pepper-comic-ad.png');
    height: 12em;
    background-size: cover;
    background-position: center;
    border-bottom: 0.5em solid #39a3f2;
    cursor: pointer;
    margin-top: -9.3em;
   -webkit-clip-path: url("#clip-global-top-banner"); 
   clip-path: url("#clip-global-top-banner");
}

.global-top-banner.ie-decoration-fix {
    margin-top: -9em;
}


/* the full page banner also uses this clip-path */
#footer-decoration {
   -webkit-clip-path: url("#clip-footer"); 
   clip-path: url("#clip-footer");
   height: 7em;
   background-color: #3babff;
  margin-bottom: -0.05em; /* eliminates a hairline border on the bottom */
  margin-top: 2em;
}

#slim-background {
    -webkit-clip-path: url("#slim-header-clipPath"); 
   clip-path: url("#slim-header-clipPath");
}

#header-decoration {
    height: 11em; /* was 10 */
    margin-top: -9em;
    margin-bottom: 0;
    position: relative;
    -webkit-clip-path: url(#header-decoration-clip);
    clip-path: url(#header-decoration-clip);

    background: #39a3f2;
    background: -moz-linear-gradient(top, #39a3f2 1%, #0078f9 100%);
    background: -webkit-linear-gradient(top, #39a3f2 1%,#0078f9 100%);
    background: linear-gradient(to bottom, #39a3f2 1%,#0078f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39a3f2', endColorstr='#0078f9',GradientType=0 );
}

#header-decoration.ie-decoration-fix {
    margin-top: 0;
    height: 1.5em;
    margin-bottom: 5.5em;
    -webkit-clip-path: none;
    clip-path: none;
}

#slim-background.ie-decoration-fix {
        height: 7em;
    -webkit-clip-path: none;
    clip-path: none;
}

#footer-decoration.ie-decoration-fix {
  background: none; /* this keeps some nice padding between bottom of content and footer */
  -webkit-clip-path: none;
  clip-path: none;
}

.stats-intro {
 margin-right:auto;
 padding-bottom: 5rem;
}
.stats-intro .stats-intro-container {
 background-color: #fff;
 padding: 2em;
}
@media (min-width: 1024px) {
 .stats-intro {
  padding-right:8rem
 }
}
@media (max-width: 888px) {
 .stats-intro {
   margin-right: unset; 
 }
}

.stats-container {
 display: flex;
 position:relative;
 z-index:10
}
.stats-container:after {
 border-top-color:#fff !important;
 border-right-color:transparent !important;
 z-index:-1
}
.stats-content {
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 display: flex;
 align-items: normal;
}
@media (min-width: 888px) {
 .stats-content {
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  align-items: center
 }
}
@media (min-width: 1024px) {
 .stats-container,
 .stats-items {
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
 }
}
.stats-items {
 -webkit-box-align:end;
 -ms-flex-align:end;
 align-items:flex-end;
 -webkit-box-orient:vertical;
 -webkit-box-direction:normal;
 -ms-flex-direction:column;
 flex-direction:column;
 position:relative;
 padding-top:2rem
}
@media (min-width: 1024px) {
 .stats-items {
  top:-6.8rem;
  margin-bottom:-6.8rem
 }
}
.stats-item {
 color:#f8f9fa;
 background-color:rgba(16,218,168,0.8);
 -webkit-filter:drop-shadow(0 8px 0 rgba(16,218,168,0.33)) drop-shadow(0 15px 0 #fff) drop-shadow(0 -8px 0 rgba(16,218,168,0.33)) drop-shadow(0 -15px 0 #fff);
 filter:drop-shadow(0 8px 0 rgba(16,218,168,0.33)) drop-shadow(0 15px 0 #fff) drop-shadow(0 -8px 0 rgba(16,218,168,0.33)) drop-shadow(0 -15px 0 #fff);
 margin-top:-2rem;
 position:relative;
 width:16rem
}
.stats-item.stats-pos-top {
 /*left:50px*/
}
@media (min-width: 888px) {
 .stats-item.stats-pos-top {
  left:unset
 }
}
.stats-item.stats-pos-middle {
 background-color:rgba(16,218,201,0.8);
 -webkit-filter:drop-shadow(0 8px 0 rgba(16,218,201,0.33)) drop-shadow(0 15px 0 #fff) drop-shadow(0 -8px 0 rgba(16,218,201,0.33)) drop-shadow(0 -15px 0 #fff);
 filter:drop-shadow(0 8px 0 rgba(16,218,201,0.33)) drop-shadow(0 15px 0 #fff) drop-shadow(0 -8px 0 rgba(16,218,201,0.33)) drop-shadow(0 -15px 0 #fff);
 margin-top:7rem;
 right:40%
}
@media (min-width: 888px) {
 .stats-item.stats-pos-middle {
  margin-top:6rem;
  right:12.41441rem
 }
}
.stats-item.stats-pos-middle:before {
 border-bottom-color:rgba(16,218,201,0.8)
}
.stats-item.stats-pos-middle:after {
 border-top-color:rgba(16,218,201,0.8)
}
.stats-item.stats-pos-bottom {
 background-color:rgba(16,201,218,0.8);
 -webkit-filter:drop-shadow(0 8px 0 rgba(16,201,218,0.33)) drop-shadow(0 15px 0 #fff) drop-shadow(0 -8px 0 rgba(16,201,218,0.33)) drop-shadow(0 -15px 0 #fff);
 filter:drop-shadow(0 8px 0 rgba(16,201,218,0.33)) drop-shadow(0 15px 0 #fff) drop-shadow(0 -8px 0 rgba(16,201,218,0.33)) drop-shadow(0 -15px 0 #fff);
 /*left:50px;*/
 top:-12px
}
@media (min-width: 888px) {
 .stats-item.stats-pos-bottom {
  left:unset
 }
}
.stats-item.stats-pos-bottom:before {
 border-bottom-color:rgba(16,201,218,0.8)
}
.stats-item.stats-pos-bottom:after {
 border-top-color:rgba(16,201,218,0.8)
}
.stats-item.stats-size-small {
 width:10.66667rem
}
.stats-item.stats-size-small:before,
.stats-item.stats-size-small:after {
 border-left-width:5.33333rem;
 border-right-width:5.33333rem
}
.stats-item.stats-size-small:before {
 border-bottom-width:2.66667rem
}
.stats-item.stats-size-small:after {
 border-top-width:2.66667rem
}
.stats-item.stats-size-small .stats-sum,
.stats-item.stats-size-small .stats-sum-name {
 -webkit-transform:unset;
 -ms-transform:unset;
 transform:unset
}
.stats-item.stats-pos-bottom {
 right:2.66667rem
}
.stats-item .stats-sum,
.stats-item .stats-sum-name {
 -webkit-transform:scale(1.1);
 -ms-transform:scale(1.1);
 transform:scale(1.1)
}
.stats-item .currency-symbol {
 font-size:50%
}
.stats-sum-name {
 opacity:.8
}
.stats-intro a {
 text-decoration:underline
}
.stats-lead {
 font-size:1.3em;
 text-align:center
}
@media (min-width: 1024px) {
 .stats-lead {
  font-size:1.6em;
  text-align:left
 }
}
@media (min-width: 1024px) {
 .stats-progress {
  padding-right:2rem
 }
}
.d-flex, .progress-container, .stats-content, .stats-container, .stats-items, .stats-item, .stats-sum {
  display: flex;
}
.stats-content {
 width:100%;
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}
@media (min-width: 666px) {
 .stats-content {
  max-width:820px
 }
}
@media (min-width: 888px) {
 .stats-content {
  max-width:940px
 }
}
@media (min-width: 1024px) {
 .stats-content {
  max-width:1080px
 }
}
@media (min-width: 1200px) {
 .stats-content {
  max-width:1140px
 }
}
.bg-corporate {
 background-color:#09a2b9
}
.bg-individual {
 background-color:#0bccea
}
.progress-legend {
 width:10px;
 height:10px;
 margin: 0 10px;
}
.rounded-circle,
.whoosh,
.progress-bar-target-met {
 border-radius:50% !important
}

.align-items-center {
  align-items: center !important;
}

.flex-column {
 -webkit-box-orient:vertical !important;
 -webkit-box-direction:normal !important;
 -ms-flex-direction:column !important;
 flex-direction:column !important
}

.flex-fill {
 -webkit-box-flex:1 !important;
 -ms-flex:1 1 auto !important;
 flex:1 1 auto !important
}
.flex-grow-0 {
 -webkit-box-flex:0 !important;
 -ms-flex-positive:0 !important;
 flex-grow:0 !important
}
.flex-grow-1 {
 -webkit-box-flex:1 !important;
 -ms-flex-positive:1 !important;
 flex-grow:1 !important
}
.flex-shrink-0 {
 -ms-flex-negative:0 !important;
 flex-shrink:0 !important
}
.flex-shrink-1 {
 -ms-flex-negative:1 !important;
 flex-shrink:1 !important
}
.justify-content-start {
 -webkit-box-pack:start !important;
 -ms-flex-pack:start !important;
 justify-content:flex-start !important
}
.justify-content-end {
 -webkit-box-pack:end !important;
 -ms-flex-pack:end !important;
 justify-content:flex-end !important
}

.justify-content-center,
.stats-container,
.stats-items,
.stats-sum {
 -webkit-box-pack:center !important;
 -ms-flex-pack:center !important;
 justify-content:center !important
}

.text-center,
.stats-container,
.stats-items {
 text-align:center !important
}
.stats-item h5 {
  font-size: 1.3rem;
}
.stats-item .stats-sum {
  font-size: 1.5rem;
}

.goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goal > div {
  padding: 20px;
}
.goal > div:first-child {
  flex-basis: 75%;
}

.goal > div:last-child {
  flex-basis: 25%;
}

@media (min-width: 700px) {
  .goal {
    flex-direction: row;
  }
}
.goal:nth-child(2n + 1) > div:first-child {
  order: 1;
}
.goal:nth-child(2n + 1) > div:last-child {
  order: 0;
}
.stats-container {
 display: flex;
 position:relative;
 z-index:10
}
.stats-content {
 flex-direction:column;
 display: flex
}
@media (min-width: 888px) {
 .stats-content {
  flex-direction:row
 }
}
@media (min-width: 1024px) {
 .stats-container,
 .stats-items {
  flex-direction:row;
 }
}
.stats-items {
 align-items:flex-end;
 flex-direction:column;
 position:relative;
 padding-top:5rem
}
@media (min-width: 1024px) {
 .stats-items {
  top:-6.8rem;
  margin-bottom:-6.8rem
 }
}
.stats-item {
 color:#f8f9fa;
 background-color:rgba(16,218,168,0.8);
 position:relative;
 width: 16rem;
 height: 16rem;
 justify-content: center;
 border-radius: 8rem;
}
.stats-item.stats-pos-top {
 /*left:50px*/
}
@media (min-width: 888px) {
 .stats-item.stats-pos-top {
  left:unset
 }
}
.stats-item.stats-pos-middle {
 background-color:rgba(16,218,201,0.8);
 margin-top:7rem;
 right:40%
}
@media (min-width: 888px) {
 .stats-item.stats-pos-middle {
  margin-top:-1rem;
  right:12.41441rem
 }
}
.stats-item.stats-pos-bottom {
 background-color:rgba(16,201,218,0.8);
 top:-12px
}
@media (min-width: 888px) {
 .stats-item.stats-pos-bottom {
  left:unset
 }
}
.stats-item.stats-size-small {
 width:10.66667rem;
 height:10.66667rem;
 border-radius: 5.33rem;
}
.stats-item.stats-size-small .stats-sum,
.stats-item.stats-size-small .stats-sum-name {
 -webkit-transform:unset;
 -ms-transform:unset;
 transform:unset
}
.stats-item.stats-pos-bottom {
 right:2.66667rem
}
.stats-item .stats-sum,
.stats-item .stats-sum-name {
 -webkit-transform:scale(1.1);
 -ms-transform:scale(1.1);
 transform:scale(1.1)
}
.stats-item .currency-symbol {
 font-size:50%
}
.stats-sum-name {
 opacity:.8
}
.stats-intro a {
 text-decoration:underline
}
.stats-lead {
 font-size:1.3em;
 text-align:center
}
@media (min-width: 1024px) {
 .stats-lead {
  font-size:1.6em;
  text-align:left
 }
}
@media (min-width: 1024px) {
 .stats-progress {
  padding-right:2rem
 }
}
.d-flex, .progress-container, .stats-content, .stats-container, .stats-items, .stats-item, .stats-sum {
  display: flex;
}
.stats-content {
 width:100%;
 padding-right:15px;
 padding-left:15px;
 margin-right:auto;
 margin-left:auto
}
@media (min-width: 666px) {
 .stats-content {
  max-width:820px
 }
}
@media (min-width: 888px) {
 .stats-content {
  max-width:940px
 }
}
@media (min-width: 1024px) {
 .stats-content {
  max-width:1080px
 }
}
@media (min-width: 1200px) {
 .stats-content {
  max-width:1140px
 }
}
.bg-corporate {
 background-color:#09a2b9
}
.bg-individual {
 background-color:#0bccea
}
.progress-legend {
 width:10px;
 height:10px;
 margin: 0 10px;
}
.rounded-circle,
.whoosh,
.progress-bar-target-met {
 border-radius:50% !important
}

.align-items-center {
  align-items: center !important;
}

.flex-column {
 -webkit-box-orient:vertical !important;
 -webkit-box-direction:normal !important;
 -ms-flex-direction:column !important;
 flex-direction:column !important
}

.flex-fill {
 -webkit-box-flex:1 !important;
 -ms-flex:1 1 auto !important;
 flex:1 1 auto !important
}
.flex-grow-0 {
 -webkit-box-flex:0 !important;
 -ms-flex-positive:0 !important;
 flex-grow:0 !important
}
.flex-grow-1 {
 -webkit-box-flex:1 !important;
 -ms-flex-positive:1 !important;
 flex-grow:1 !important
}
.flex-shrink-0 {
 -ms-flex-negative:0 !important;
 flex-shrink:0 !important
}
.flex-shrink-1 {
 -ms-flex-negative:1 !important;
 flex-shrink:1 !important
}
.justify-content-start {
 -webkit-box-pack:start !important;
 -ms-flex-pack:start !important;
 justify-content:flex-start !important
}
.justify-content-end {
 -webkit-box-pack:end !important;
 -ms-flex-pack:end !important;
 justify-content:flex-end !important
}

.justify-content-center,
.stats-container,
.stats-items,
.stats-sum {
 -webkit-box-pack:center !important;
 -ms-flex-pack:center !important;
 justify-content:center !important
}

.text-center,
.stats-container,
.stats-items {
 text-align:center !important
}
.stats-item h5 {
  font-size: 1.3rem;
}
.stats-item .stats-sum {
  font-size: 1.5rem;
}

.l-table {
  list-style: none;
  -webkit-box-shadow:rgba(0,0,0,0.05) 0px 1px 4px 0px,rgba(0,0,0,0.025) 0px 15px 20px -1px;
  box-shadow:rgba(0,0,0,0.05) 0px 1px 4px 0px,rgba(0,0,0,0.025) 0px 15px 20px -1px;
  background-color:#fff;
  border-radius:.3rem;
  color:#4d4e53;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  max-width:840px;
  z-index: 1;
  position: relative;
}
.l-table li:last-child a {
 border:none
}
.l-table-row {
  position: relative;
  text-decoration: none;
}
.l-table-row,
.l-table-header {
 -webkit-box-shadow:inset 0 0 1px rgba(0,0,0,0.33);
 box-shadow:inset 0 0 1px rgba(0,0,0,0.33);
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.l-table-row:hover,
.l-table-header:hover {
 background-color:rgba(235,235,235,0.1);
 text-decoration:none
}
.l-table-row.is-own,
.l-table-row.is-selected,
.l-table-row.is-corporate,
.l-table-header.is-own,
.l-table-header.is-selected,
.l-table-header.is-corporate {
 -webkit-box-shadow:none;
 box-shadow:none
}
.l-table-row.is-own,
.l-table-header.is-own {
 background-color:#62eac8;
 background-image:-o-linear-gradient(77deg, #10d5a4, #8ff0d7);
 background-image:linear-gradient(13deg, #10d5a4, #8ff0d7);
 color:#fff
}
.m-price {
  font-size: 0.8rem;
}
.l-table-row.is-own .m-price,
.l-table-header.is-own .m-price {
 color:#fff
}
.l-table-row.is-own svg,
.l-table-header.is-own svg {
 fill:#fff
}
.l-table-row.is-own:after,
.l-table-header.is-own:after {
 background-color:#1ccea2;
 border-radius:3px;
 color:white;
 content:'POPULAR';
 font-size:.6em;
 font-weight:bold;
 padding:3px 10px 2px;
 position:absolute;
 left:-5px;
 top:-5px;
 background-color:#fff;
 color:#1cca9e;
 content:'YOU HAVE THIS'
}
.l-table-row.is-selected,
.l-table-header.is-selected {
 background-color:white;
 -webkit-box-shadow:0 0 25px rgba(0,0,0,0.2);
 box-shadow:0 0 25px rgba(0,0,0,0.2);
 border-radius:12px;
 -webkit-transform:scale(1.02);
 -ms-transform:scale(1.02);
 transform:scale(1.02);
 z-index:1
}
.l-table-row.is-selected .detail-badge,
.l-table-header.is-selected .detail-badge {
 opacity:1
}
.l-table-row.is-popular,
.l-table-header.is-popular {
 background-color:rgba(128,223,255,0.1);
 -webkit-box-shadow:inset 0 0 1px #80dfff;
 box-shadow:inset 0 0 1px #80dfff
}
.l-table-row.is-popular:after,
.l-table-header.is-popular:after {
 background-color:#1ccea2;
 border-radius:3px;
 color:white;
 content:'POPULAR';
 font-size:.6em;
 font-weight:bold;
 padding:3px 10px 2px;
 position:absolute;
 left:-5px;
 top:-5px
}
.l-table-row.is-corporate,
.l-table-header.is-corporate {
 background-color:#343a40;
 border-bottom-left-radius:6px;
 border-bottom-right-radius:6px;
 color:#f8f9fa
}
.l-table-header {
 color:rgba(77,78,83,0.8);
 background-color:#f8f8f8;
 border-top-left-radius:6px;
 border-top-right-radius:6px;
 font-size:.7875rem
}
.l-table-header .l-table-cell:first-child {
 -webkit-box-pack:start;
 -ms-flex-pack:start;
 justify-content:start
}
.l-table-cell {
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-flex:1;
 -ms-flex:1;
 flex:1;
 -webkit-box-pack:center;
 -ms-flex-pack:center;
 justify-content:center;
 padding:.5rem .5rem;
 -webkit-user-select:none;
}
@media (min-width: 1024px) {
 .l-table-cell {
  padding:1rem 2rem
 }
}
.l-table-cell.m-level {
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:start;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  text-align:left;
  min-width:125px;
}
@media (min-width: 1024px) {
 .l-table-cell.m-level {
  min-width:150px
 }
}
.l-table-cell[data-toggle="popover"] {
 cursor:pointer
}
.l-table-cell i {
 color:rgba(77,78,83,0.5);
 padding-left:.33333rem
}
.l-table-cell>span {
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex
}
.l-table-cell>span .l-name {
 display:none
}
@media (min-width: 1024px) {
 .l-table-cell>span .l-name {
  display:block
 }
}
.l-table {
  list-style: none;
}
.form > li.field-extended_address {
  display: none !important;
}
.form .field-half_size, .form > li.field-region, .form > li.field-locality, .form > li.field-country, .form > li.field-postal_code {
  float: left;
  width: 50%;
}

.form > li.field-postal_code {
  width: 30%;
}

.form > li.field-locality {
  width: 70%;
}
.form .field-half_size, .form > li.field-region, .form > li.field-locality, .form > li.field-country, .form > li.field-postal_code {
  float: left;
  width: 50%;
}
.form > li.field-country, .form > li.field-postal_code {
  padding-left: 1rem !important;
}

.form > li.field-gateway_pk, .form > li.field-gateway {
  clear: both;
}

ul#id_gateway {
  padding-left: 0;
  list-style: none;
}
ul#id_gateway > li {
  margin-bottom: 1.5rem !important;
}

ul#id_gateway > li > label {
  margin-right: .5rem !important;
}

.checkout-yay .plan {
 -webkit-animation:pulse-size 2s ease-in-out infinite alternate;
 animation:pulse-size 2s ease-in-out infinite alternate;
 display:inline-block;
 position:relative;
 z-index:1
}
.checkout-yay .plan span {
 background-color:white;
 border-radius:10px;
 -webkit-box-shadow:0 0 50px white, 0 0 150px white;
 box-shadow:0 0 50px white, 0 0 150px white;
 display:inline-block;
 font-weight:bold;
 text-transform:uppercase
}

.small-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-floating {
  padding-bottom: 4rem;
  border-radius: 4px;
}


.navbar-floating .container {
  border-radius: 16px;
}

.navbar-floating .nav > li {
  display: inline-block;
}

:root {
  --width: 100vw;
  --full-width: 100vw;
  --angle: -5deg;
  --magic-number: 0.09719;
  --skew-padding: calc(var(--width)*var(--magic-number));
  --clip-padding: calc(var(--full-width)*var(--magic-number));
}

.diagonal-box {
  position: relative;
  padding: var(--skew-padding) 0;
  margin-top: -1px;
}

.bg-blue::before {
  background-image: linear-gradient(-135deg,rgba(61,174,233,.2),rgba(29,153,243,.2));
}

.diagonal-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: skewy(var(--angle));
  transform-origin: 50% 0;
  outline: 1px solid transparent;
  backface-visibility: hidden;
}
.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

.mt-6, .my-6 {
  margin-top: 4rem !important;
}

.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}

.pt-5, .py-5 {
  padding-top: 3rem !important;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.p-0 {
  padding: 0;
}
.p-4 {
  padding: 1.5rem;;
}

.container {
  max-width: 100vw;
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}
.list-group-item a {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.checkout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  min-height: 100vh;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.fireworks {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.checkout-yay .plan, .checkout-yay .d-block, .checkout-yay .notes {
  z-index: 2;
  position: relative;
  color: black;
}

.membership-level > ul {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.membership-level > ul li {
  padding: .33333rem 1rem;
  white-space: nowrap;
  align-items: center !important;
  display: flex;
}

.mt-0 {
  margin-top: 0;
}
.mt-3 {
  margin-top: 1rem;
}

@media (max-width: 1600px) {
  #header-decoration {
    height: 11em;
    margin-top: -9em;
  }

  #frontpage-slideshow {
     height: 480px;
  }
}


@media (max-width: 888px) {
  .stats-container {
    width: 100%;
  }
  .stats-items {
    padding-top: 0.5rem;
  }
  .stats-item.stats-pos-middle {
    margin-top: -8rem;
  }
  .stats-item.stats-pos-bottom {
    margin-top: -1rem;
    margin-right: 2rem;
  }
  #acceptCookieButton {
    display: block;
    width: 100%;
    text-align: center;
    padding: 6px;
    margin: 11px 0;
  }

  #frontpage-slideshow {
    height:211px;
  }

  #header-decoration {
    height: 5em;
    margin-top: -4em; 
  }
  .stats-intro .stats-intro-container {
    box-shadow: none;
  }
  .stats-item.stats-pos-middle {
    right: 50%;
  }
}

.container {
  background: white;
}

#slogan, .stats-intro .stats-intro-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
}
.stats-intro .stats-intro-container {
 padding: 2em;
}

.stats-content {
  display: flex;
}
