{% extends "checkout/checkout_base.html" %}
{% load looper %}
{% block head %}
  {% load static %}
  <script src="js/vendor/select2.min.js"></script>
o{% endblock %}
{% block after_header %}
  <form  id="payment-form" method="post">{% csrf_token %}
    <section class="checkout-form-fields">
      <ul class="form list-unstyled">{{ form.as_ul }}</ul>
      <div id="gateway-errors"></div>
    </section>
    <hr/>
    <button class="btn btn-filled-success w-100" id="submit_button" type="submit"><i class="fa fa-check"></i>Subscribe</button>
  </form>
{% endblock %}

{% block footer_scripts %}
<script src="https://js.braintreegateway.com/web/dropin/1.24.0/js/dropin.min.js"></script>
<script>
  let client_token = '{{ client_token }}';
  
  $("div[data-gateway-name='braintree']").braintree_gateway_group(
    '#submit_button', '#gateway-errors',
    '#id_payment_method_nonce', client_token);
  
  //- Initialize the nicer country picker.
  $('#id_country').css('width', '100%');
  $('#id_country').select2();
  
  //- Append the '.field-more-fields' button after the Full Name.
  $('.field-full_name').append('\
    <small class="field-more-fields js-show-full-form" title="You can set your billing information later">\
        Billing Address <i class="fa fa-angle-down"></i> \
    </small>');
  
  //- Display all fields.
  let fieldsToShow = 'li.field-region, li.field-locality, li.field-company, li.field-country, li.field-postal_code, li.field-billing_email, li.field-street_address';
  $(fieldsToShow).toggleClass('d-none')
  $('body').on('click', '.js-show-full-form', function(){
    $(this).toggleClass('active');
    $(fieldsToShow).toggleClass('d-none');
  });
  $('ul.form > li > label').toggleClass('mt-2');
  $('ul.form > li > input').toggleClass('form-control');
  $('label[for="id_approve_new_subscription"]')
    .toggleClass('form-check-label')
    .parent().children('.helptext').toggleClass('d-block');
  $('#id_approve_new_subscription')
    .toggleClass('form-control')
    .toggleClass('form-check-input');
  
  //- Append the '.field-more-billing_address' button to the street_address field.
  $('.field-street_address').append('\
    <div class="field-more-billing_address js-show-extended_address" title="Toggle extended address">\
        <i class="fa fa-plus"></i>\
    </div>');
  
  //- Display extended address field.
  $('body').on('click', '.js-show-extended_address', function(){
    $(this).toggleClass('active');
    $('li.field-extended_address').toggleClass('show');
  });
</script>
{% endblock %}
