
{% extends "blender_fund/empty_page.html" %}
{% load looper %}
{% block content %}
<div class="checkout-container">
  <section class="checkout">
    <header><a class="text-muted" href="/"><i class="fa fa-angle-left pr-3"></i> Krita Development Fund</a>
      <section class="plan-info d-flex align-items-center">
        <h2 class="my-0 pt-4">{{ plan.description }}</h2>
        <h2 class="ml-auto text-secondary my-0 pt-4"><span>{{ order.price.with_currency_symbol }} for {{ subscription.interval_length }} {{ subscription.interval_unit }}</span></h2>
      </section>
    </header>
    <hr/>
    <form class="checkout-form" id="payment-form" method="post">{% csrf_token %}
      <section class="checkout-form-fields">
        <ul class="form">{{ form.as_ul }}</ul>
        <div id="gateway-errors"></div>
      </section>
      <hr/>
      <button class="btn-success form-submit" id="submit_button" type="submit"><span>Pay {{ order.price.with_currency_symbol }}</span></button>
    </form>
  </section>
</div>
<script src="https://js.braintreegateway.com/web/dropin/1.13.0/js/dropin.min.js"></script>
<script>
  let client_token = '{{ client_token }}';
  $("div[data-gateway-name='braintree']").braintree_gateway_group(
  	'#submit_button', '#gateway-errors',
  	'#id_payment_method_nonce', client_token);
  
</script>{% endblock %}
