
{% extends "blender_fund/layout.html" %}
{% block head %}
{% load static %}
<script src="{% static 'js/vendor/select2.min.js' %}"></script>{% endblock %}
{% block content %}
<div class="settings-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3">{% block sidebar %}
        <div class="sidebar-nav">
          <ul>
            <li><a href="{% url 'settings_home' %}"><i class="fa fa-home"></i> My Membership</a></li>
            <li><a href="{% url 'looper:settings_personal_info' %}"><i class="fa fa-user"></i> Personal Info</a></li>
            <li><a href="{% url 'looper:settings_billing_info' %}"><i class="fa fa-address-book-o"></i> Billing Address</a></li>
            <li><a href="{% url 'settings_receipts' %}"><i class="fa fa-list"></i> Receipts</a></li>
            <li><a href="{% url 'looper:payment_methods' %}"><i class="fa fa-credit-card"></i> Payment Methods</a></li>
          </ul>
        </div>{% endblock sidebar %}
      </div>
      <div class="col-md-9">
        <div class="box p-4">
          {% block content_settings %}
          {% endblock content_settings %}
        </div>
      </div>
    </div>
  </div>
</div>{% endblock content %}
{% block footer_scripts %}
<script>
  //- Initialize the nicer country picker.
  let country_picker = $('#id_country');
  if (country_picker.length) country_picker.select2();
</script>{% endblock footer_scripts %}
