
{% extends "settings/base.html" %}
{% block content_settings %}
{{ block.super }}
{% load crispy_forms_tags %}
<h2 class="mt-2">Billing Address</h2>
<form id="billing-address-form" method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <button class="btn btn-success px-5 mt-3" id="submit-billing-info" type="submit"><i class="fa fa-check"></i>Save Changes</button>
</form>
{% endblock content_settings %}
