
{% extends "settings/membership_base.html" %}
{% block after_membership_info %}
<h2>Extend your Membership</h2>
<p>
  Your {{ membership.level.name }} membership has been extended to
  {{ subscription.next_payment|date }}.
  
</p>
<p><a class="btn btn-success" href="{% url 'settings_membership_edit' membership_id=membership_id  %}">Finish</a></p>{% endblock after_membership_info %}