
{% extends "pdf_layout.html" %}
{% block title %}KDE e.V. Membership Receipt #{{ order.id }}{% endblock %}
{% block main_content %}
<table style="width: 40em">
  <tr>
    <td colspan="2">
      <h4>KDE e.V. Membership Receipt</h4>
    </td>
  </tr>
  <tr>
    <th>Receipt ID</th>
    <td>{{ order.id }}</td>
  </tr>
  <tr>
    <th>Payment received on</th>
    <td>{{ order.paid_at|default:order.created_at }}</td>
  </tr>
  <tr>
    <th>Membership level</th>
    <td>{{ order.subscription.plan.name }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <h4>Billing Address</h4>
    </td>
  </tr>
  <tr>
    <th>Address</th>
    <td>{{ order.billing_address|linebreaksbr }}</td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td>{{ order.email }}</td>
  </tr>
  <tr>
    <td colspan="2">
      <h4>Payment Information</h4>
    </td>
  </tr>
  <tr>
    <th>Amount paid</th>
    <td>{{ order.price.with_currency_symbol_nonocents }}</td>{% with refunded=order.total_refunded %}
    {% if refunded %}
  </tr>
  <tr>
    <th>Amount refunded</th>
    <td>{{ refunded.with_currency_symbol_nonocents }}</td>{% endif %}
    {% endwith %}
  </tr>
  <tr>
    <th>Payment method</th>
    <td>{{ order.payment_method.recognisable_name }}</td>
  </tr>{% if order.payment_method.method_type == 'ba' %}
  <tr>
    <th>Bank details</th>
    <td>
      K Desktop Environment e.V.<br />
      Account-Nr. 0 66 64 46<br />
      BLZ 200 700 24<br />
      Deutsche Bank Privat und Geschäftskunden<br />
      Hamburg, Germany<br />
      IBAN     : DE82 2007 0024 0066 6446 00<br />
      SWIFT-BIC: DEUTDEDBHAM
    </td>
  </tr>
  {% endif %}
</table>
{% endblock %}
