
{% extends "blender_fund/empty_page.html" %}
{% block head %}
<style>
  .notes {
  	margin-top: 4em;
  	margin-left: auto;
  	margin-right: auto;
  	width: 30em;
  	color: #ddd;
  	font-size: smaller;
  }
  
  .mention, pre {
  	max-width: 60ex;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 4mm;
  
  	border: thin solid white;
  	border-radius: 1mm;
  	padding: 3mm;
  	color: white;
  }
  .mention {
  	background-color: #000030;
  }
  pre {
  	background-color: transparent;
  	text-align: left;
  }
</style>{% endblock %}
{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-7">
      <div class="card">
        <h1 class="card-header mt-0 h3">Thank you {{ user.customer.full_name }}! <i class="fa fa-heart text-danger pl-3"></i></h1>
        <div class="card-body">
          <div class="lead pt-2">You are now a <strong>{{ order.subscription.plan }}</strong> member of the KDE Fund.</div>
          <p>
            Your membership will be activated as soon as we have handled your bank transfer.
          </p>
          <div class="mention">
            <p>
              When paying, mention the following with your bank transfer:
              
            </p>
            <p><strong>KDE Membership subs-{{ order.subscription.id }}</strong></p>
          </div>
          <p>Please send your payment to:</p>
          <p>
            <pre>K Desktop Environment e.V.
Account-Nr. 0 66 64 46
BLZ 200 700 24
Deutsche Bank Privat und Geschäftskunden
Hamburg, Germany

IBAN     : DE82 2007 0024 0066 6446 00
SWIFT-BIC: DEUTDEDBHAM
            </pre>
          </p>
          <p>This information is also sent to you by email.</p>
          {% with membership=order.subscription.membership %}
            <p>Continue to <a href="{% url 'settings_membership_edit' membership_id=membership.id %}">Your Membership</a>.</p>
            {% if membership.level.bid_badge_name %}
              <div class="notes">
                <p>Once your membership is activated, you can view your badge in your <a href="{{ settings.BLENDER_ID.BASE_URL }}">KDE Profile</a>.
                  For your badge to show up on other websites may take some time (less than a day), and may require you to log in at that site again.
                </p>
              </div>
            {% endif %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
