
{% extends "blender_fund/empty_page.html" %}
{% load looper %}
{% block content %}
<div class="checkout-container">
  <section class="checkout">
    <header><a class="text-muted" href="/"><i class="fa fa-angle-left pr-3"></i> KDE Development Fund</a>
      <section class="plan-info d-flex align-items-center">
        <h2 class="my-0 pt-4">{{ plan.description }}</h2>
      </section>
    </header>
    <hr/>
    <p>Choose how to subscribe to {{ plan.name }} {{ plan.product.name }}:</p>
    <ul>{% for planvar in object_list %}
      <li><a class="{% if planvar.pk == current_plan_variation.pk %}current{% endif %}" href="{% url 'looper:checkout' plan_id=plan.id plan_variation_id=planvar.id %}">{{ planvar|pricing }}</a>{% if planvar.pk == current_plan_variation.pk %} (currently selected){% endif %}</li>{% empty %}
      <!-- - TODO(fsiddi): Provide link to return to previous page-->
      <p>Sorry, no variation is availale in your currency.</p>{% endfor %}
    </ul>
    <hr class="mt-5"/>
    <p>{% if preferred_currency == 'EUR' %}<a href="javascript:set_preferred_currency('USD');">Switch to $</a>{% else %}<a href="javascript:set_preferred_currency('EUR');">Switch to €</a>{% endif %}</p>
  </section>
</div>{% endblock %}
