
{% extends "email_layout.html" %}
{% block body %}
<p>Hi Ton,</p>
<p>
  {{ user.customer.full_name|default:user.email }} has a {{ membership.level.name }} membership that just
  passed its 'next payment' date.
  
</p>
<p>Check out <a href="{{ memb_admin_url }}">the membership</a> and/or
  <a href="{{ subs_admin_url }}">the subscription</a> in the Dev Fund admin.
  
</p>{% endblock %}