{% load wagtailcore_tags %}
{% load navigation_tags %}

<nav class="navbar-default navbar-secondary navbar-expand" role="navigation">
  <div class="container mx-auto">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item {% if page.slug == 'home' %}active{% endif %}"><a class="nav-link" href="{% slugurl 'home' %}">Home</a></li>{# main_menu is defined in blender_fund_main/templatetags/navigation_tags.py #}
      {% get_site_root as site_root %}
      {% top_menu parent=site_root calling_page=self %}
      <li class="nav-item">{% if user.is_authenticated %}<a class="nav-link" href="{% url 'settings_home' %}">My Account</a>{% else %}<a class="nav-link" href="{% url 'oauth:login' %}">Login</a>{% endif %}</li>
      {% if user.is_staff %}
        <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">🚀 Whoosh!</a></li>
      {% endif %}
      {% if user.is_authenticated %}
        <li class="nav-item">
          {% if 'loginas_from_user' in request.session %}
            <a class="nav-link" href="{% url 'loginas-logout' %}">
              <i class="fa fa-power-off"></i>
              Switch back
            </a>
          {% else %}
            <a class="nav-link" href="{% url 'oauth:logout' %}">
              <i class="fa fa-power-off"></i>
              Log out
            </a>
          {% endif %}
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
<nav class="container">
  <ul>
  </ul>
</nav>
